{% extends 'base.html' %}

{% block title %} Home {% endblock title%}

{% block content %} 
  <div class="home_auth">
    {% if user.is_authenticated %}

    <span><h2>Hi {{ user.username }}! Nice to see you in these parts!</h2></span>
    <a class="home_button" href="{% url 'logout' %}">Log Out</a>
    
    {% else %}
      
    <span>Don't be a stranger danger! 
      <a class="home_button" href="{% url 'login' %}">Log In</a>
      or 
      <a class="home_button" href="{% url 'signup' %}">Sign Up</a>
    </span>
  
    {% endif %}
  </div>

  <div class="jumbrotron">
    <h1 class="display-4">NomNomNews</h1>
    <p class="lead">In the gastronomic galaxy of Los Angeles.</p>
    <p class="lead">We are a dedicated team of epicurious explorers.</p>
    <p class="lead">Hunting for delicious delicasies in the heart and stomach of the city.</p>
    <p class="lead">
      And FEED you stories of the finest and feastiest fair, most interesting morsels, and
      foods that foodies fond over.
    </p>
    <p class="lead">
      Join us as we transcend taste, traversing cultures, cuisines, and take on calories.
    </p>
    <p class="lead">
      <a href="{% url 'article_list' %}" class="btn btn-lg btn-nom" role="button">
        View All Foodicles
      </a>
    </p>
    <p>Built with Django</p>
  </div>

{% endblock content %}